/* SECCION HABILIDADES*/
.skills {
    background-color: #1e1b21;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.skills h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    transition: transform 0.3s ease;
}

.skills h2:hover {
    transform: scale(1.05);
}

.skills h3:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.skills .fila{
    display: flex;
}

.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 13px;
}

.skills .skill .barra-skill,
.skills .skill .barra-skill2,
.skills .skill .barra-skill3,
.skills .skill .barra-skill4{
    height: 8px;
    width: 100%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso{
    background-color: #4090be;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #4090be;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .barra-skill2 span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #4090be;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .barra-skill3 span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #4090be;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

.skills .skill .barra-skill4 span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #4090be;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}

/* Animaciones para las barras de progreso */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}

@keyframes javascript {
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}

@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 95%;}
}

.skills .skill .photoshop{
    width: 0%;
    animation: 2s photoshop forwards;
}

@keyframes photoshop {
    0%{width: 0%;}
    100%{width: 100%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}

@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 85%;}
}

/* RESPONSIVE */
@media screen and (max-width:700px){
    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }
}
